* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.6rem;
  background: #000000;
  color: #fff;
}

.wrapper {
  max-width: 1110px;
  margin-inline: auto;
}

/*Header*/
.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
/* 
.left {
  width: 706px;
} */

.left h6 {
  font-size: 2rem;
  margin-top: 1rem;
}

.left h3{
  font-size: 4rem;
  margin-top: 7rem;
}

.left h3 span {
  border-bottom: 2px solid green;
}

.left p {
  margin-top: 3rem;
  font-size: 1.3rem;
}

.left h4 {
  margin-top: 4rem;
  font-size: 1rem;
  letter-spacing: 1.9px;
}

.left h4 span {
  border-bottom: 2px solid green;
  padding-bottom: 6px;
}

.right {
  height: 445px;
  width: 720px;
  background-image: url("/public/images/image-profile-desktop.webp");
  background-size: cover;
}

/* Stacks */
.stacks {
  border-top: 1px solid #fff;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.stacks-inner {
  margin-top: 4rem;
}

.stacks-inner p {
  margin-top: 1.2rem;
}

/* Projects */
.projects {
  margin-top: 8rem;
}

.projects-header {
  display: flex;
  justify-content: space-between;
}

.projects-header h3 {
  font-size: 4rem;
}

.projects-header h4 {
  margin-top: 2rem;
  font-size: 1rem;
  letter-spacing: 1.9px;
}

.projects-header h4 span {
  border-bottom: 2px solid green;
  padding-bottom: 6px;
}

.projects-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  margin-top: 6rem;
  grid-column-gap: 60px;
}

.projects-images {
  display: grid;
}

.projects-images img {
  max-width: 540px;
}

.projects-images h3 {
  margin-top: 2rem;
}

.project-frameworks {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 2rem 0;
}

.project-frameworks h5 {
  font-size: 1.2rem;
}

/*contact section*/
.contact {
  margin-top: 6rem;
}

.contact-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* .left.contact {
  margin: 10rem;
} */

.contact-details h3 {
  font-size: 5rem;
}

.contact-details p {
  margin-top: 3rem;
  font-size: 1.8rem;
}

.right-contact {

}

.contact-input {
  display: grid;
  grid-template-rows: auto;
}

.contact-input input {
  margin-top: 2rem;
  background: #000000;
  border: none;
  margin-top: 2rem;
  padding-left: 2rem;
}

.contact-input input:nth-child(1) {
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #fff;
}

.contact-input input:nth-child(2) {
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #fff;
}

.contact-input input:nth-child(3) {
  padding-bottom: 6rem;
  border-bottom: 1.5px solid #fff;
}

.contact-input p {
  margin-top: 3rem;
  font-size: 1rem;
}

.contact-input p span {
  border-bottom: 2px solid green;
  padding-bottom: 6px;
  float: right;
}

.footer {
  border-top: 1px solid #fff;
  padding-top: 3rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

